<article class="product-card">
  <div class="product-card__image-wrapper">
    <img
      class="product-card__image"
      [src]="product().imageUrl"
      [alt]="product().name"
    />

    <button
      class="product-card__favorite"
      type="button"
      (click)="onToggleFavorite()"
      [attr.aria-label]="isFavorite() ? 'Quitar de favoritos' : 'Agregar a favoritos'"
    >
      {{ isFavorite() ? '♥' : '♡' }}
    </button>
  </div>

  <div class="product-card__content">
    <span class="product-card__category">
      {{ product().category }}
    </span>

    <h3 class="product-card__title">
      {{ product().name }}
    </h3>

    <p class="product-card__description">
      {{ product().description }}
    </p>

    <div class="product-card__footer">
      <strong class="product-card__price">
        {{ product().price }} Bs
      </strong>

      <span class="product-card__stock">
        Stock: {{ product().stock }}
      </span>
    </div>
  </div>
</article>